<!--
  Generated template for the RingDetailsPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-navbar *navbar>
  <ion-title>Ringing In {{bell.name}}</ion-title>
</ion-navbar>

<ion-content padding class="ring-details">
  <ion-card>
    <ion-card-content class="ring-timer">
      <div class="ring-timer-timer">{{intervalString}}</div>
      <h3 class="ring-timer-label">Passed Since Call</h3>
    </ion-card-content>
  </ion-card>

  <p class="content-section-header">Respond To The Call</p>
  <ion-list>
    <button ion-item (click)="respondMessage(bell.comingMessage)">
      Coming
      <ion-note item-right>{{bell.comingMessage}}</ion-note>
    </button>
    <button ion-item (click)="respondMessage(bell.comeUpMessage)">
      Come Up
      <ion-note item-right>{{bell.comeUpMessage}}</ion-note>
    </button>
    <button ion-item (click)="respondDelayMessage()">
      Coming in ... minutes
    </button>
    <button ion-item (click)="respondMessage('Can\'t make it')">
      Can't make it
    </button>
    <button ion-item (click)="respondCustomMessage()">
      <i>Custom Message</i>
    </button>
  </ion-list>

  <button block outline danger (click)="discardRing()">Discard Call</button>

</ion-content>
