<ion-navbar *navbar>
  <ion-title>{{selectedBell.name}}</ion-title>
  <ion-buttons end>
    <button (click)="openEditModal()">
      <ion-icon name="create" isActive="false"></ion-icon>
    </button>
  </ion-buttons>

</ion-navbar>

<ion-content padding class="bell-details">
  <ion-refresher (refresh)="refresh($event)">
    <ion-refresher-content pullingText="Pull to refresh" refreshingText="Refreshing..."></ion-refresher-content>
  </ion-refresher>

  <button *ngIf="selectedBell.ringing" danger id="ringing-button" (click)="openRingDetailsPage()">Someone Is Ringing</button>

  <p class="content-section-header">Where Are You?</p>
  <div>
    <button id="i-am-home-button" [outline]="selectedBell.away" (click)="awayToggle('home')">I Am Home</button>
    <button id="i-am-out-button" [outline]="!selectedBell.away" (click)="awayToggle('out')">I Am Out</button>
  </div>

  <p class="content-section-header">Bell Messages</p>
  <ion-list>
    <ion-item>
      Welcome
      <ion-note item-right>{{selectedBell.welcomeMessage}}</ion-note>
    </ion-item>
    <ion-item>
      Coming
      <ion-note item-right>{{selectedBell.comingMessage}}</ion-note>
    </ion-item>
    <ion-item>
      Come Up
      <ion-note item-right>{{selectedBell.comeUpMessage}}</ion-note>
    </ion-item>
    <ion-item>
      No Answer
      <ion-note item-right>{{selectedBell.noAnswerMessage}}</ion-note>
    </ion-item>
  </ion-list>

  <p class="content-section-header">More</p>
  <ion-list>
    <button ion-item (click)="openRingLogModal()">Ring Log</button>
    <button ion-item>Devices And Tokens</button>
    <button ion-item (click)="openAvatarModal()">Change Avatar</button>
  </ion-list>
</ion-content>
