<ion-toolbar>
  <ion-buttons start>
    <button (click)="close()">
      <span primary showWhen="ios">Close</span>
      <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
    </button>
  </ion-buttons>
  <ion-title>
    Bell Configuration
  </ion-title>
  <ion-buttons end>
    <button (click)="save()">
      <span showWhen="ios" primary >Save</span>
      <ion-icon name="md-checkmark" showWhen="android,windows"></ion-icon>
    </button>
  </ion-buttons>
</ion-toolbar>

<ion-content padding class="bell-edit">
  <p>All fields are required and must be under 30 characters</p>
  <form [ngFormModel]="bellForm">
    <ion-list no-lines>
      <ion-item>
        <ion-label stacked>Name</ion-label>
        <ion-input ngControl="name"type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Welcome Message</ion-label>
        <ion-input ngControl="welcome_message"type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Coming Message</ion-label>
        <ion-input ngControl="coming_message" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Come Up Message</ion-label>
        <ion-input ngControl="come_up_message" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>No Answer Message</ion-label>
        <ion-input ngControl="no_answer_message" type="text"></ion-input>
      </ion-item>
    </ion-list>
  </form>
</ion-content>
