// http://ionicframework.com/docs/v2/theming/


// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.

@import "../pages/home/home.scss";

@import "../pages/bell-details/bell-details.scss";

@import "../pages/bell-details/ring-log/ring-log.scss";

@import "../pages/bell-details/avatar/avatar.scss";

@import "../pages/ring-details/ring-details.scss";

@import "../pages/bell-details/bell-edit/bell-edit.scss";

.identity-container {
  text-align: center;
  margin-bottom: 20px;
}

.identity-avatar {
  border-radius: 50%;
  width: 100px;
  margin: 10px 0px;
}

.identity-name {
  margin-bottom: 10px;
}

.settings-actions {
  margin: 0px 10px;

  button {
    margin-bottom: 10px;
  }
}

.content-section-header {
  font-weight: bold;
}
