<ion-menu [content]="content">

  <ion-toolbar>
    <ion-title>Settings</ion-title>
  </ion-toolbar>

  <ion-content>
    <div class="identity-container">
      <img src="img/avatar.png" class="identity-avatar">
      <div class="identity-name">Guillaume Deflaux</div>
    </div>

    <div class="settings-actions">
      <button outline block>Edit Profile</button>
      <button outline block>Register Bell</button>
      <button danger outline block>Log Out</button>
    </div>
  </ion-content>

</ion-menu>

<ion-nav id="nav" [root]="rootPage" #content swipe-back-enabled="false"></ion-nav>
