<ion-toolbar>
  <ion-title>
    Ring Log
  </ion-title>
  <ion-buttons start>
    <button (click)="close()">
      <span primary showWhen="ios">Close</span>
      <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
    </button>
  </ion-buttons>
</ion-toolbar>

<ion-content padding class="bell-details-ring-log">
  <ion-list>
    <ion-item *ngFor="#r of rings">
      <h2>
        <ion-icon name="calendar" item-left></ion-icon>
        {{r.printRingOn()}}
      </h2>
      <h2>
        <ion-icon name="undo" item-left></ion-icon>
        {{r.answer}}
      </h2>
    </ion-item>
  </ion-list>
</ion-content>
