.home {
  .bell-card {
    .bell-card-splash {
        position: relative;
        text-align:center;

        .bell-card-title {
          position: absolute;
          top: 45%;
          font-size: 2.0em;
          width: 100%;
          font-weight: bold;
          color: #fff !important;
        }
    }

    button[fab].fab-map {
      top: calc(100% - 35px);
      z-index: 50;
    }
  }
}
