<!--
  Generated template for the HomePage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-navbar *navbar>
  <button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>Knoknok</ion-title>
</ion-navbar>

<ion-content padding class="home">
  <ion-refresher (refresh)="refresh($event)">
    <ion-refresher-content pullingText="Pull to refresh" refreshingText="Refreshing..."></ion-refresher-content>
  </ion-refresher>
  <ion-card class="bell-card" *ngFor="#b of bells" (click)="itemTapped(b)">
    <div class="bell-card-splash">
      <img [src]="b.avatarPath()">
      <p class="bell-card-title">{{b.name}}</p>
      <button *ngIf="b.ringing" danger fab fab-right fab-top class="fab-map">
        <img src="img/knoknok-icon.png" />
      </button>
    </div>
    <ion-item>
      <h2>Last Ring</h2>
      <p>{{b.printLastRingOn()}}</p>
    </ion-item>
  </ion-card>
</ion-content>
