<ion-toolbar>
  <ion-buttons start>
    <button (click)="close()">
      <span primary showWhen="ios">Close</span>
      <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
    </button>
  </ion-buttons>
  <ion-title>
    Select Avatar
  </ion-title>
  <ion-buttons end>
    <button (click)="save()">
      <span showWhen="ios" primary >Save</span>
      <ion-icon name="md-checkmark" showWhen="android,windows"></ion-icon>
    </button>
  </ion-buttons>
</ion-toolbar>

<ion-content padding class="bell-details-avatar">
  <ion-slides #avatarSlider pager [options]="slideOptions">
    <ion-slide *ngFor="#s of slideList">
      <img [src]="avatarPath(s)" />
      <h3>Avatar {{s}}</h3>
    </ion-slide>
  </ion-slides>
</ion-content>
